DATABASE_URL="your db url"
PORT="your port"
JWT_SECRET="my-super-secret"
CLOUDINARY_CLOUD_NAME="cloud name"
CLOUDINARY_API_KEY="api key"
CLOUDINARY_API_SECRET="api secret"
ENGINE_URL="engine url"
REDIS_URL="redis url followed by db"