DATABASE_URL="your-neon-db-pg-url without ?sslmode=verify-full&channel_binding=require remove that stuff"
REDIS_URL="your-redis-url"
LLM_BASE_URL="http://localhost:11434/v1"
LLM_API_KEY="ollama"
LLM_MODEL="gemma3:latest"
EMBEDDING_MODEL="qwen3-embedding:4b"