DATABASE_URL="your-neon-db-pg-url without ?sslmode=verify-full&channel_binding=require remove that stuff"
REDIS_URL="your-redis-url"

LLM_BASE_URL="your llm provider's base url"
LLM_API_KEY="you llm provider's api key"
LLM_MODEL="llm model name"
EMBEDDING_MODEL_BASE_URL="http://localhost:11434/v1" # optional if your LLM_BASE_URL is this itself
EMBEDDING_MODEL="embedding model name"